@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f6f9;
}

.btn-main {
  background-color: #5E72E4;
  border-color: #5E72E4;
}

.btn-main:hover {
  background-color: #4c62cc;
  border-color: #4c62cc;
}

.min-vh-100 {
  min-height: 100vh;
}

/* Form labels */
.form-label {
  font-weight: bold;
}

